{% extends "index.html" %}

{% block content %}
<div id="content">
    <div class="box">
        <img src="" alt="">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, placeat veniam magni necessitatibus hic et perferendis quod architecto rem dolore? Laborum sapiente itaque, maiores dolores sint fugit dolorum pariatur iusto!</p>
        <button>ОК</button>            
    </div>

    <div class="box">
        <img src="" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit autem necessitatibus veniam incidunt quod, rem deserunt facilis animi libero error. Perferendis vitae quidem expedita consectetur ex necessitatibus, temporibus consequuntur ipsum.</p>
        <button>OK</button>            
    </div>

    <div class="box">
        <img src="" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aut explicabo sint accusamus labore reprehenderit eligendi commodi, libero repellendus, minima enim! Velit, officia! Cumque veniam modi quam, accusamus voluptatibus ea. </p>
        <button>OK</button>            
    </div>
</div>
{% endblock %}